$primary-color: black;
$secondary-color: red;

// transition delay and styling
@mixin easeOut{
  transition: all 0.5s ease-out;
}

//Set text color
@function set-text-color($color){
  @if(lightness($color) > 40){
      @return #000;
  }@else{
      @return #fff;
  }
}

//Media query mixins
@mixin mediaSm{
  @media screen and (max-width: 500px){
      @content;
  }
}
@mixin mediaMd{
  @media screen and (max-width: 768px){
      @content;
  }
}
@mixin mediaLg{
  @media screen and (min-width: 769px) and (max-width: 1170px){
      @content;
  }
}
@mixin mediaXl{
  @media screen and (min-width: 1171px){
      @content;
  }
}