//Widescreens
@include mediaXl{
  menu{
    visibility: visible;
    opacity: 1;
  }
  .menu-nav{
    display: flex;
    flex-flow: row;
    height: 25px;
    margin: 0;
    margin-top: 2rem;
    background-size: 0;
  }
  .card-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

//Desktops & Laptops
@include mediaLg{
  menu{
    opacity: 1;
  }
  .menu-nav{
    display: flex;
    flex-flow: row;
    height: 25px;
    margin: 0;
    margin-top: 2rem;
    background-size: 0;
  }
  .card-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

//Tablets & Small Laptops
@include mediaMd{
  main{
    align-items: center;
    text-align: center;
    .lg-heading{
      line-height: 1;
    }
  }
  .menu-nav{
    visibility: visible;
    height: 100%;
    margin-top: 0;
    font-size: 24px;
  }
  .menu-btn{
    visibility: visible;
  }
  .card-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

//Smartphones
@include mediaSm{
  main#home h1{
    margin-top: 5vh;
  }
  .card-container{
    grid-template-columns: 1fr;
  }
}