@import 'config';
@import 'menu';

body, html {
    color: $secondary-color;
    background: $primary-color;
    font-family: 'Benguiat Bold', arial;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.8rem;
}
main{
    height: 100%;
    padding: 1rem;
    text-align: center;
}
h1{
    padding-top: 3rem;
    opacity: 0;
    @include easeOut();
}
h2{
    color: #fff;
    opacity: 0;
    @include easeOut();
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
    z-index: 2;
}

slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
  
    > * {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #1f1f1f;
      animation: slide 12s infinite;
      overflow: hidden;
    }
  
    slide:nth-child(1) {
      left: 0%;
      animation-delay: -1;
      background-image: url('../img/starwars.jpg');
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
  
    slide:nth-child(2) {
      left: 100%;
      animation-delay: 2s;
      background-image: url('../img/strangerthings.jpg');
      background-size: cover;
      background-position: center;
    }
  
    slide:nth-child(3) {
      left: 100%;
      animation-delay: 5s;
      background-image: url('../img/ghost.jpg');
      background-size: cover;
      background-position: center;
    }
  
    slide:nth-child(4) {
      left: 100%;
      animation-delay: 8s;
      background-image: url('../img/statue.jpg');
      background-size: cover;
      background-position: center;
    }
  
    slide p {
      font-family: Comfortaa;
      font-size: 70px;
      text-align: center;
      display: inline-block;
      width: 100%;
      margin-top: 340px;
      color: #fff;
    }
  }
  
  @keyframes slide {
    0% {
      left: 100%;
      width: 100%;
    }
    5% {
      left: 0%;
    }
    25% {
      left: 0%;
    }
    30% {
      left: -100%;
      width: 100%;
    }
    31% {
      left: -100%;
      width: 0%;
    }
    100% {
      left: 100%;
      width: 0%;
    }
  }

.menu-nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}
.nav-item {
    overflow: hidden;
    top: 0;
    width: 100%;
    padding-right: 1rem;
    background-color: $primary-color;
    text-align: left;
    a {
      position: relative;
      color: #f2f2f2;
      text-decoration: none;
      &:hover{
        @include easeOut();
        color: $secondary-color;
        text-decoration: underline;
        text-decoration-color: #fff;
      } 
    }
}
//current nav bar item is shown active
.nav-item.current{
    a{
        color: $secondary-color;
        text-decoration-color: #fff;
    }
}
  
//image styling (home page)
.pimg1{
    background-image: url('../img/lightning.jpg');
    min-height: 40%;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px red solid;

    //makes the image static
    background-attachment: fixed;
}

//blog cards styling
.card-container{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 15rem;
    text-align: center;
    justify-self: center;
    opacity: 0;
    transform: translateY(600px);
    @include easeOut();
}
.card-header img{
    width: 15rem;
    height: 10rem;
    object-fit: cover;
}
.card-body p {
    font-size: 13px;
    margin: 1rem;
    color: black;
}
//blog card animations
.card.appear{
    opacity: 1;
    transform: translateY(0);
}
//animation for list items when loaded
.list-item {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    @include easeOut();
  }
.list-item.appear {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
//animation for the home page
section{
    opacity: 0;
    @include easeOut();
}
section.appear{
    opacity: 1;
}

//animation to titles
h1.appear{
    opacity: 1;
}
h2.appear{
    opacity: 1;
}

@import 'mobile';